---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/jmejia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1526019900'
      Etag:
      - W/"9c865622652a619514dfc562370771b5"
      Last-Modified:
      - Sat, 23 Dec 2017 22:43:46 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"jmejia","id":73824,"avatar_url":"https://avatars0.githubusercontent.com/u/73824?v=4","gravatar_id":"","url":"https://api.github.com/users/jmejia","html_url":"https://github.com/jmejia","followers_url":"https://api.github.com/users/jmejia/followers","following_url":"https://api.github.com/users/jmejia/following{/other_user}","gists_url":"https://api.github.com/users/jmejia/gists{/gist_id}","starred_url":"https://api.github.com/users/jmejia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jmejia/subscriptions","organizations_url":"https://api.github.com/users/jmejia/orgs","repos_url":"https://api.github.com/users/jmejia/repos","events_url":"https://api.github.com/users/jmejia/events{/privacy}","received_events_url":"https://api.github.com/users/jmejia/received_events","type":"User","site_admin":false,"name":"Josh
        Mejia","company":"Turing School of Software & Design","blog":"https://twitter.com/joshuamejia","location":"Denver,
        CO","email":null,"hireable":null,"bio":null,"public_repos":62,"public_gists":1,"followers":95,"following":44,"created_at":"2009-04-14T21:42:00Z","updated_at":"2017-12-23T22:43:46Z"}'
  recorded_at: Fri, 11 May 2018 05:25:03 GMT
- request:
    method: get
    uri: https://api.github.com/users/jmejia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1526018487'
      Etag:
      - W/"8cc87632cc81fbb7e8465e4459de9327"
      Last-Modified:
      - Sat, 23 Dec 2017 22:43:46 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bff9e878c77272925590
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"jmejia","id":73824,"avatar_url":"https://avatars0.githubusercontent.com/u/73824?v=4","gravatar_id":"","url":"https://api.github.com/users/jmejia","html_url":"https://github.com/jmejia","followers_url":"https://api.github.com/users/jmejia/followers","following_url":"https://api.github.com/users/jmejia/following{/other_user}","gists_url":"https://api.github.com/users/jmejia/gists{/gist_id}","starred_url":"https://api.github.com/users/jmejia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jmejia/subscriptions","organizations_url":"https://api.github.com/users/jmejia/orgs","repos_url":"https://api.github.com/users/jmejia/repos","events_url":"https://api.github.com/users/jmejia/events{/privacy}","received_events_url":"https://api.github.com/users/jmejia/received_events","type":"User","site_admin":false,"name":"Josh
        Mejia","company":"Turing School of Software & Design","blog":"https://twitter.com/joshuamejia","location":"Denver,
        CO","email":"joshua.mejia@gmail.com","hireable":null,"bio":null,"public_repos":62,"public_gists":1,"followers":95,"following":44,"created_at":"2009-04-14T21:42:00Z","updated_at":"2017-12-23T22:43:46Z"}'
  recorded_at: Fri, 11 May 2018 05:25:03 GMT
- request:
    method: get
    uri: https://api.github.com/users/jmejia/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1526018487'
      Etag:
      - W/"ea1bbb7073e9c7327e8108c35af6a157"
      Last-Modified:
      - Thu, 10 May 2018 19:40:56 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bff9e878c77272925590
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/73824/events?page=2>; rel="next", <https://api.github.com/user/73824/events?page=4>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"7657441955","type":"PushEvent","actor":{"id":73824,"login":"jmejia","display_login":"jmejia","gravatar_id":"","url":"https://api.github.com/users/jmejia","avatar_url":"https://avatars.githubusercontent.com/u/73824?"},"repo":{"id":70825850,"name":"turingschool/backend-curriculum-site","url":"https://api.github.com/repos/turingschool/backend-curriculum-site"},"payload":{"push_id":2554697566,"size":1,"distinct_size":1,"ref":"refs/heads/gh-pages","head":"8dde402c2993c9f69f002f2410ccf6c9532d8f01","before":"3f74a24ab478ba7fcb58e607715062cd0606f495","commits":[{"sha":"8dde402c2993c9f69f002f2410ccf6c9532d8f01","author":{"email":"joshua.mejia@gmail.com","name":"Josh
        Mejia"},"message":"Add clarification to battleshift requirements","distinct":true,"url":"https://api.github.com/repos/turingschool/backend-curriculum-site/commits/8dde402c2993c9f69f002f2410ccf6c9532d8f01"}]},"public":true,"created_at":"2018-05-10T19:40:56Z","org":{"id":7934292,"login":"turingschool","gravatar_id":"","url":"https://api.github.com/orgs/turingschool","avatar_url":"https://avatars.githubusercontent.com/u/7934292?"}},{"id":"7656838664","type":"PushEvent","actor":{"id":73824,"login":"jmejia","display_login":"jmejia","gravatar_id":"","url":"https://api.github.com/users/jmejia","avatar_url":"https://avatars.githubusercontent.com/u/73824?"},"repo":{"id":126417210,"name":"turingschool-examples/battleshift_spec_harness","url":"https://api.github.co[...]
- request:
    method: get
    uri: https://api.github.com/users/jmejia/starred?sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1526018487'
      Etag:
      - W/"c86d1a840d6dc1142400a580986ea58f"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bff9e878c77272925590
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":8393,"name":"paperclip","full_name":"thoughtbot/paperclip","owner":{"login":"thoughtbot","id":6183,"avatar_url":"https://avatars3.githubusercontent.com/u/6183?v=4","gravatar_id":"","url":"https://api.github.com/users/thoughtbot","html_url":"https://github.com/thoughtbot","followers_url":"https://api.github.com/users/thoughtbot/followers","following_url":"https://api.github.com/users/thoughtbot/following{/other_user}","gists_url":"https://api.github.com/users/thoughtbot/gists{/gist_id}","starred_url":"https://api.github.com/users/thoughtbot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thoughtbot/subscriptions","organizations_url":"https://api.github.com/users/thoughtbot/orgs","repos_url":"https://api.github.com/users/thoughtbot/repos","events_url":"https://api.github.com/users/thoughtbot/events{/privacy}","received_events_url":"https://api.github.com/users/thoughtbot/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/thoughtbot/paperclip","description":"Easy
        file attachment management for ActiveRecord","fork":false,"url":"https://api.github.com/repos/thoughtbot/paperclip","forks_url":"https://api.github.com/repos/thoughtbot/paperclip/forks","keys_url":"https://api.github.com/repos/thoughtbot/paperclip/keys{/key_id}","collaborators_url":"https://api.github.com/repos/thoughtbot/paperclip/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/thoughtbot/paperclip/teams","hooks_url":"https://api.github.com/repos/thoughtbot/paperclip/hooks","issue_events_url":"https://api.github.com/repos/thoughtbot/paperclip/issues/events{/number}","events_url":"https://api.github.com/repos/thoughtbot/paperclip/events","assignees_url":"https://api.github.com/repos/thoughtbot/paperclip/assignees{/user}","branches_url":"https://api.github.com/repos/thoughtbot/paperclip/branches{/branch}","tags_url":"https://api.github.com/repos/thoughtbot/paperclip/tags","blobs_url":"https://api.github.com/repos/thoughtbot/paperclip/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/thoughtbot/paperclip/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/thoughtbot/paperclip/git/refs{/sha}","trees_url":"https://api.github.com/repos/thoughtbot/paperclip/git/trees{/sha}","statuses_url":"https://api.github.com/repos/thoughtbot/paperclip/statuses/{sha}","languages_url":"https://api.github.com/repos/thoughtbot/paperclip/languages","stargazers_url":"https://api.github.com/repos/thoughtbot/paperclip/stargazers","contributors_url":"https://api.github.com/repos/thoughtbot/paperclip/contributors","subscribers_url":"https://api.github.com/repos/thoughtbot/paperclip/subscribers","subscription_url":"https://api.github.com/repos/thoughtbot/paperclip/subscription","commits_url":"https://api.github.com/repos/thoughtbot/paperclip/commits{/sha}","git_commits_url":"https://api.github.com/repos/thoughtbot/paperclip/git/commits{/sha}","comments_url":"https://api.github.com/repos/thoughtbot/paperclip/comments{/number}","issue_comment_url":"https://api.github.com/repos/thoughtbot/paperclip/issues/comments{/number}","contents_url":"https://api.github.com/repos/thoughtbot/paperclip/contents/{+path}","compare_url":"https://api.github.com/repos/thoughtbot/paperclip/compare/{base}...{head}","merges_url":"https://api.github.com/repos/thoughtbot/paperclip/merges","archive_url":"https://api.github.com/repos/thoughtbot/paperclip/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/thoughtbot/paperclip/downloads","issues_url":"https://api.github.com/repos/thoughtbot/paperclip/issues{/number}","pulls_url":"https://api.github.com/repos/thoughtbot/paperclip/pulls{/number}","milestones_url":"https://api.github.com/repos/thoughtbot/paperclip/milestones{/number}","notifications_url":"https://api.github.com/repos/thoughtbot/paperclip/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/thoughtbot/paperclip/labels{/name}","releases_url":"https://api.github.com/repos/thoughtbot/paperclip/releases{/id}","deployments_url":"https://api.github.com/repos/thoughtbot/paperclip/deployments","created_at":"2008-04-10T19:58:20Z","updated_at":"2018-05-10T14:03:44Z","pushed_at":"2018-05-08T22:53:05Z","git_url":"git://github.com/thoughtbot/paperclip.git","ssh_url":"git@github.com:thoughtbot/paperclip.git","clone_url":"https://github.com/thoughtbot/paperclip.git","svn_url":"https://github.com/thoughtbot/paperclip","homepage":"https://thoughtbot.com/open-source","size":3422,"stargazers_count":8965,"watchers_count":8965,"language":"Ruby","has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2018,"mirror_url":null,"archived":false,"open_issues_count":17,"license":{"key":"other","name":"Other","spdx_id":null,"url":null},"forks":2018,"open_issues":17,"watchers":8965,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":7050,"name":"prawn","full_name":"prawnpdf/prawn","owner":{"login":"prawnpdf","id":1440292,"avatar_url":"https://avatars0.githubusercontent.com/u/1440292?v=4","gravatar_id":"","url":"https://api.github.com/users/prawnpdf","html_url":"https://github.com/prawnpdf","followers_url":"https://api.github.com/users/prawnpdf/followers","following_url":"https://api.github.com/users/prawnpdf/following{/other_user}","gists_url":"https://api.github.com/users/prawnpdf/gists{/gist_id}","starred_url[...]
