---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/jmejia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1526008305'
      Etag:
      - W/"9c865622652a619514dfc562370771b5"
      Last-Modified:
      - Sat, 23 Dec 2017 22:43:46 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"jmejia","id":73824,"avatar_url":"https://avatars0.githubusercontent.com/u/73824?v=4","gravatar_id":"","url":"https://api.github.com/users/jmejia","html_url":"https://github.com/jmejia","followers_url":"https://api.github.com/users/jmejia/followers","following_url":"https://api.github.com/users/jmejia/following{/other_user}","gists_url":"https://api.github.com/users/jmejia/gists{/gist_id}","starred_url":"https://api.github.com/users/jmejia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jmejia/subscriptions","organizations_url":"https://api.github.com/users/jmejia/orgs","repos_url":"https://api.github.com/users/jmejia/repos","events_url":"https://api.github.com/users/jmejia/events{/privacy}","received_events_url":"https://api.github.com/users/jmejia/received_events","type":"User","site_admin":false,"name":"Josh
        Mejia","company":"Turing School of Software & Design","blog":"https://twitter.com/joshuamejia","location":"Denver,
        CO","email":null,"hireable":null,"bio":null,"public_repos":62,"public_gists":1,"followers":95,"following":44,"created_at":"2009-04-14T21:42:00Z","updated_at":"2017-12-23T22:43:46Z"}'
  recorded_at: Fri, 11 May 2018 02:11:47 GMT
- request:
    method: get
    uri: https://api.github.com/users/jmejia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1526006562'
      Etag:
      - W/"8cc87632cc81fbb7e8465e4459de9327"
      Last-Modified:
      - Sat, 23 Dec 2017 22:43:46 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bff9e878c77272925590
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"jmejia","id":73824,"avatar_url":"https://avatars0.githubusercontent.com/u/73824?v=4","gravatar_id":"","url":"https://api.github.com/users/jmejia","html_url":"https://github.com/jmejia","followers_url":"https://api.github.com/users/jmejia/followers","following_url":"https://api.github.com/users/jmejia/following{/other_user}","gists_url":"https://api.github.com/users/jmejia/gists{/gist_id}","starred_url":"https://api.github.com/users/jmejia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jmejia/subscriptions","organizations_url":"https://api.github.com/users/jmejia/orgs","repos_url":"https://api.github.com/users/jmejia/repos","events_url":"https://api.github.com/users/jmejia/events{/privacy}","received_events_url":"https://api.github.com/users/jmejia/received_events","type":"User","site_admin":false,"name":"Josh
        Mejia","company":"Turing School of Software & Design","blog":"https://twitter.com/joshuamejia","location":"Denver,
        CO","email":"joshua.mejia@gmail.com","hireable":null,"bio":null,"public_repos":62,"public_gists":1,"followers":95,"following":44,"created_at":"2009-04-14T21:42:00Z","updated_at":"2017-12-23T22:43:46Z"}'
  recorded_at: Fri, 11 May 2018 02:11:47 GMT
- request:
    method: get
    uri: https://api.github.com/users/jmejia/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1526006562'
      Etag:
      - W/"b94670d594dbbe0a9a0dc301d80862a6"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bff9e878c77272925590
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":21179968,"name":"today","full_name":"turingschool/today","owner":{"login":"turingschool","id":7934292,"avatar_url":"https://avatars0.githubusercontent.com/u/7934292?v=4","gravatar_id":"","url":"https://api.github.com/users/turingschool","html_url":"https://github.com/turingschool","followers_url":"https://api.github.com/users/turingschool/followers","following_url":"https://api.github.com/users/turingschool/following{/other_user}","gists_url":"https://api.github.com/users/turingschool/gists{/gist_id}","starred_url":"https://api.github.com/users/turingschool/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/turingschool/subscriptions","organizations_url":"https://api.github.com/users/turingschool/orgs","repos_url":"https://api.github.com/users/turingschool/repos","events_url":"https://api.github.com/users/turingschool/events{/privacy}","received_events_url":"https://api.github.com/users/turingschool/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/turingschool/today","description":"Collection
        of outlines for Turing classes","fork":false,"url":"https://api.github.com/repos/turingschool/today","forks_url":"https://api.github.com/repos/turingschool/today/forks","keys_url":"https://api.github.com/repos/turingschool/today/keys{/key_id}","collaborators_url":"https://api.github.com/repos/turingschool/today/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/turingschool/today/teams","hooks_url":"https://api.github.com/repos/turingschool/today/hooks","issue_events_url":"https://api.github.com/repos/turingschool/today/issues/events{/number}","events_url":"https://api.github.com/repos/turingschool/today/events","assignees_url":"https://api.github.com/repos/turingschool/today/assignees{/user}","branches_url":"https://api.github.com/repos/turingschool/today/branches{/branch}","tags_url":"https://api.github.com/repos/turingschool/today/tags","blobs_url":"https://api.github.com/repos/turingschool/today/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/turingschool/today/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/turingschool/today/git/refs{/sha}","trees_url":"https://api.github.com/repos/turingschool/today/git/trees{/sha}","statuses_url":"https://api.github.com/repos/turingschool/today/statuses/{sha}","languages_url":"https://api.github.com/repos/turingschool/today/languages","stargazers_url":"https://api.github.com/repos/turingschool/today/stargazers","contributors_url":"https://api.github.com/repos/turingschool/today/contributors","subscribers_url":"https://api.github.com/repos/turingschool/today/subscribers","subscription_url":"https://api.github.com/repos/turingschool/today/subscription","commits_url":"https://api.github.com/repos/turingschool/today/commits{/sha}","git_commits_url":"https://api.github.com/repos/turingschool/today/git/commits{/sha}","comments_url":"https://api.github.com/repos/turingschool/today/comments{/number}","issue_comment_url":"https://api.github.com/repos/turingschool/today/issues/comments{/number}","contents_url":"https://api.github.com/repos/turingschool/today/contents/{+path}","compare_url":"https://api.github.com/repos/turingschool/today/compare/{base}...{head}","merges_url":"https://api.github.com/repos/turingschool/today/merges","archive_url":"https://api.github.com/repos/turingschool/today/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/turingschool/today/downloads","issues_url":"https://api.github.com/repos/turingschool/today/issues{/number}","pulls_url":"https://api.github.com/repos/turingschool/today/pulls{/number}","milestones_url":"https://api.github.com/repos/turingschool/today/milestones{/number}","notifications_url":"https://api.github.com/repos/turingschool/today/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/turingschool/today/labels{/name}","releases_url":"https://api.github.com/repos/turingschool/today/releases{/id}","deployments_url":"https://api.github.com/repos/turingschool/today/deployments","created_at":"2014-06-24T20:34:50Z","updated_at":"2017-12-20T15:17:49Z","pushed_at":"2017-02-06T15:29:51Z","git_url":"git://github.com/turingschool/today.git","ssh_url":"git@github.com:turingschool/today.git","clone_url":"https://github.com/turingschool/today.git","svn_url":"https://github.com/turingschool/today","homepage":null,"size":6903,"stargazers_count":23,"watchers_count":23,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":58,"mirror_url":null,"archived":false,"open_issues_count":1,"license":null,"forks":58,"open_issues":1,"watchers":23,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":8393,"name":"paperclip","full_name":"thoughtbot/paperclip","owner":{"login":"thoughtbot","id":6183,"avatar_url":"https://avatars3.githubusercontent.com/u/6183?v=4","gravatar_id":"","url":"https://api.github.com/users/thoughtbot","html_url":"https://github.com/thoughtbot","followers_url":"https://api.github.com/users/thoughtbot/followers","following_url":"https://api.github.com/users/thoughtbot/following{/other_user}","gists_url":"https://api.github.com/users/thoughtbot/gists{/gist_i[...]
