---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/agpiermarini/repos?sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4902'
      X-Ratelimit-Reset:
      - '1525990997'
      Etag:
      - W/"3514db4059bd9590711eb1d5a8269f16"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bff9e878c77272925590
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/19535775/repos?sort=updated&page=2>; rel="next",
        <https://api.github.com/user/19535775/repos?sort=updated&page=2>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":132697165,"name":"apicurious-github","full_name":"agpiermarini/apicurious-github","owner":{"login":"agpiermarini","id":19535775,"avatar_url":"https://avatars1.githubusercontent.com/u/19535775?v=4","gravatar_id":"","url":"https://api.github.com/users/agpiermarini","html_url":"https://github.com/agpiermarini","followers_url":"https://api.github.com/users/agpiermarini/followers","following_url":"https://api.github.com/users/agpiermarini/following{/other_user}","gists_url":"https://api.github.com/users/agpiermarini/gists{/gist_id}","starred_url":"https://api.github.com/users/agpiermarini/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/agpiermarini/subscriptions","organizations_url":"https://api.github.com/users/agpiermarini/orgs","repos_url":"https://api.github.com/users/agpiermarini/repos","events_url":"https://api.github.com/users/agpiermarini/events{/privacy}","received_events_url":"https://api.github.com/users/agpiermarini/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/agpiermarini/apicurious-github","description":"Turing
        Module 3 Week 2 Independent API Exploration","fork":false,"url":"https://api.github.com/repos/agpiermarini/apicurious-github","forks_url":"https://api.github.com/repos/agpiermarini/apicurious-github/forks","keys_url":"https://api.github.com/repos/agpiermarini/apicurious-github/keys{/key_id}","collaborators_url":"https://api.github.com/repos/agpiermarini/apicurious-github/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/agpiermarini/apicurious-github/teams","hooks_url":"https://api.github.com/repos/agpiermarini/apicurious-github/hooks","issue_events_url":"https://api.github.com/repos/agpiermarini/apicurious-github/issues/events{/number}","events_url":"https://api.github.com/repos/agpiermarini/apicurious-github/events","assignees_url":"https://api.github.com/repos/agpiermarini/apicurious-github/assignees{/user}","branches_url":"https://api.github.com/repos/agpiermarini/apicurious-github/branches{/branch}","tags_url":"https://api.github.com/repos/agpiermarini/apicurious-github/tags","blobs_url":"https://api.github.com/repos/agpiermarini/apicurious-github/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/agpiermarini/apicurious-github/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/agpiermarini/apicurious-github/git/refs{/sha}","trees_url":"https://api.github.com/repos/agpiermarini/apicurious-github/git/trees{/sha}","statuses_url":"https://api.github.com/repos/agpiermarini/apicurious-github/statuses/{sha}","languages_url":"https://api.github.com/repos/agpiermarini/apicurious-github/languages","stargazers_url":"https://api.github.com/repos/agpiermarini/apicurious-github/stargazers","contributors_url":"https://api.github.com/repos/agpiermarini/apicurious-github/contributors","subscribers_url":"https://api.github.com/repos/agpiermarini/apicurious-github/subscribers","subscription_url":"https://api.github.com/repos/agpiermarini/apicurious-github/subscription","commits_url":"https://api.github.com/repos/agpiermarini/apicurious-github/commits{/sha}","git_commits_url":"https://api.github.com/repos/agpiermarini/apicurious-github/git/commits{/sha}","comments_url":"https://api.github.com/repos/agpiermarini/apicurious-github/comments{/number}","issue_comment_url":"https://api.github.com/repos/agpiermarini/apicurious-github/issues/comments{/number}","contents_url":"https://api.github.com/repos/agpiermarini/apicurious-github/contents/{+path}","compare_url":"https://api.github.com/repos/agpiermarini/apicurious-github/compare/{base}...{head}","merges_url":"https://api.github.com/repos/agpiermarini/apicurious-github/merges","archive_url":"https://api.github.com/repos/agpiermarini/apicurious-github/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/agpiermarini/apicurious-github/downloads","issues_url":"https://api.github.com/repos/agpiermarini/apicurious-github/issues{/number}","pulls_url":"https://api.github.com/repos/agpiermarini/apicurious-github/pulls{/number}","milestones_url":"https://api.github.com/repos/agpiermarini/apicurious-github/milestones{/number}","notifications_url":"https://api.github.com/repos/agpiermarini/apicurious-github/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/agpiermarini/apicurious-github/labels{/name}","releases_url":"https://api.github.com/repos/agpiermarini/apicurious-github/releases{/id}","deployments_url":"https://api.github.com/repos/agpiermarini/apicurious-github/deployments","created_at":"2018-05-09T03:31:40Z","updated_at":"2018-05-10T19:11:57Z","pushed_at":"2018-05-10T19:11:56Z","git_url":"git://github.com/agpiermarini/apicurious-github.git","ssh_url":"git@github.com:agpiermarini/apicurious-github.git","clone_url":"https://github.com/agpiermarini/apicurious-github.git","svn_url":"https://github.com/agpiermarini/apicurious-github","homepage":null,"size":256,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":123873806,"name":"date-night","full_name":"agpiermarini/date-night","owner":{"login":"agpiermarini","id":19535775,"avatar_url":"https://avatars1.githubusercontent.com/u/19535775?v=4","gravatar_id":"","url":"https://api.github.com/users/agpiermarini","html_url":"https://github.com/agpiermarini","followers_url":"https://api.github.com/users/agpiermarini/followers","following_url":"https://api.github.com/users/agpiermarini/following{/other_user}","gists_url":"https://api.github.com/use[...]
[...]
