---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/plato721/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4921'
      X-Ratelimit-Reset:
      - '1526018487'
      Etag:
      - W/"2fcaaa42ca4a70aa190f4151cc6718fc"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bff9e878c77272925590
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"patmaddox","id":1111,"avatar_url":"https://avatars2.githubusercontent.com/u/1111?v=4","gravatar_id":"","url":"https://api.github.com/users/patmaddox","html_url":"https://github.com/patmaddox","followers_url":"https://api.github.com/users/patmaddox/followers","following_url":"https://api.github.com/users/patmaddox/following{/other_user}","gists_url":"https://api.github.com/users/patmaddox/gists{/gist_id}","starred_url":"https://api.github.com/users/patmaddox/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patmaddox/subscriptions","organizations_url":"https://api.github.com/users/patmaddox/orgs","repos_url":"https://api.github.com/users/patmaddox/repos","events_url":"https://api.github.com/users/patmaddox/events{/privacy}","received_events_url":"https://api.github.com/users/patmaddox/received_events","type":"User","site_admin":false},{"login":"shanewholloway","id":210197,"avatar_url":"https://avatars1.githubusercontent.com/u/210197?v=4","gravatar_id":"","url":"https://api.github.com/users/shanewholloway","html_url":"https://github.com/shanewholloway","followers_url":"https://api.github.com/users/shanewholloway/followers","following_url":"https://api.github.com/users/shanewholloway/following{/other_user}","gists_url":"https://api.github.com/users/shanewholloway/gists{/gist_id}","starred_url":"https://api.github.com/use[...]
[...]
