---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/agpiermarini
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
      X-Ratelimit-Reset:
      - '1525906794'
      Etag:
      - W/"176c6598fa507784167374d6241f1da2"
      Last-Modified:
      - Wed, 09 May 2018 01:17:18 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"agpiermarini","id":19535775,"avatar_url":"https://avatars1.githubusercontent.com/u/19535775?v=4","gravatar_id":"","url":"https://api.github.com/users/agpiermarini","html_url":"https://github.com/agpiermarini","followers_url":"https://api.github.com/users/agpiermarini/followers","following_url":"https://api.github.com/users/agpiermarini/following{/other_user}","gists_url":"https://api.github.com/users/agpiermarini/gists{/gist_id}","starred_url":"https://api.github.com/users/agpiermarini/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/agpiermarini/subscriptions","organizations_url":"https://api.github.com/users/agpiermarini/orgs","repos_url":"https://api.github.com/users/agpiermarini/repos","events_url":"https://api.github.com/users/agpiermarini/events{/privacy}","received_events_url":"https://api.github.com/users/agpiermarini/received_events","type":"User","site_admin":false,"name":"Andrew
        Piermarini","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"public_repos":38,"public_gists":3,"followers":2,"following":0,"created_at":"2016-05-23T15:58:32Z","updated_at":"2018-05-09T01:17:18Z"}'
  recorded_at: Wed, 09 May 2018 22:24:07 GMT
- request:
    method: get
    uri: https://api.github.com/users/agpiermarini
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1525904999'
      Etag:
      - W/"2dafe2d1c6d988276b04c94c6ecc6eca"
      Last-Modified:
      - Wed, 09 May 2018 01:17:18 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bff9e878c77272925590
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"agpiermarini","id":19535775,"avatar_url":"https://avatars1.githubusercontent.com/u/19535775?v=4","gravatar_id":"","url":"https://api.github.com/users/agpiermarini","html_url":"https://github.com/agpiermarini","followers_url":"https://api.github.com/users/agpiermarini/followers","following_url":"https://api.github.com/users/agpiermarini/following{/other_user}","gists_url":"https://api.github.com/users/agpiermarini/gists{/gist_id}","starred_url":"https://api.github.com/users/agpiermarini/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/agpiermarini/subscriptions","organizations_url":"https://api.github.com/users/agpiermarini/orgs","repos_url":"https://api.github.com/users/agpiermarini/repos","events_url":"https://api.github.com/users/agpiermarini/events{/privacy}","received_events_url":"https://api.github.com/users/agpiermarini/received_events","type":"User","site_admin":false,"name":"Andrew
        Piermarini","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"public_repos":38,"public_gists":3,"followers":2,"following":0,"created_at":"2016-05-23T15:58:32Z","updated_at":"2018-05-09T01:17:18Z"}'
  recorded_at: Wed, 09 May 2018 22:24:08 GMT
recorded_with: VCR 4.0.0
