---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/icorson3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4811'
      X-Ratelimit-Reset:
      - '1525932491'
      Etag:
      - W/"e7487db7b487438f61a12dbe9349e483"
      Last-Modified:
      - Wed, 09 May 2018 04:21:04 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bff9e878c77272925590
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"icorson3","id":14942680,"avatar_url":"https://avatars1.githubusercontent.com/u/14942680?v=4","gravatar_id":"","url":"https://api.github.com/users/icorson3","html_url":"https://github.com/icorson3","followers_url":"https://api.github.com/users/icorson3/followers","following_url":"https://api.github.com/users/icorson3/following{/other_user}","gists_url":"https://api.github.com/users/icorson3/gists{/gist_id}","starred_url":"https://api.github.com/users/icorson3/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/icorson3/subscriptions","organizations_url":"https://api.github.com/users/icorson3/orgs","repos_url":"https://api.github.com/users/icorson3/repos","events_url":"https://api.github.com/users/icorson3/events{/privacy}","received_events_url":"https://api.github.com/users/icorson3/received_events","type":"User","site_admin":false,"name":"Ilana
        Corson","company":null,"blog":"","location":"Denver, CO","email":null,"hireable":true,"bio":null,"public_repos":29,"public_gists":14,"followers":11,"following":7,"created_at":"2015-10-02T15:12:44Z","updated_at":"2018-05-09T04:21:04Z"}'
  recorded_at: Thu, 10 May 2018 06:04:30 GMT
- request:
    method: get
    uri: https://api.github.com/users/icorson3/repos?sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4810'
      X-Ratelimit-Reset:
      - '1525932491'
      Etag:
      - W/"c17cee7988cc99e37bee793a5c87a278"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bff9e878c77272925590
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":131728015,"name":"building_internal_apis","full_name":"icorson3/building_internal_apis","owner":{"login":"icorson3","id":14942680,"avatar_url":"https://avatars1.githubusercontent.com/u/14942680?v=4","gravatar_id":"","url":"https://api.github.com/users/icorson3","html_url":"https://github.com/icorson3","followers_url":"https://api.github.com/users/icorson3/followers","following_url":"https://api.github.com/users/icorson3/following{/other_user}","gists_url":"https://api.github.com/users/icorson3/gists{/gist_id}","starred_url":"https://api.github.com/users/icorson3/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/icorson3/subscriptions","organizations_url":"https://api.github.com/users/icorson3/orgs","repos_url":"https://api.github.com/users/icorson3/repos","events_url":"https://api.github.com/users/icorson3/events{/privacy}","received_events_url":"https://api.github.com/users/icorson3/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/icorson3/building_internal_apis","description":null,"fork":false,"url":"https://api.github.com/repos/icorson3/building_internal_apis","forks_url":"https://api.github.com/repos/icorson3/building_internal_apis/forks","keys_url":"https://api.github.com/repos/icorson3/building_internal_apis/keys{/key_id}","collaborators_url":"https://api.github.com/repos/icorson3/building_internal_apis/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/icorson3/building_internal_apis/teams","hooks_url":"https://api.github.com/repos/icorson3/building_internal_apis/hooks","issue_events_url":"https://api.github.com/repos/icorson3/building_internal_apis/issues/events{/number}","events_url":"https://api.github.com/repos/icorson3/building_internal_apis/events","assignees_url":"https://api.github.com/repos/icorson3/building_internal_apis/assignees{/user}","branches_url":"https://api.github.com/repos/icorson3/building_internal_apis/branches{/branch}","tags_url":"https://api.github.com/repos/icorson3/building_internal_apis/tags","blobs_url":"https://api.github.com/repos/icorson3/building_internal_apis/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/icorson3/building_internal_apis/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/icorson3/building_internal_apis/git/refs{/sha}","trees_url":"https://api.github.com/repos/icorson3/building_internal_apis/git/trees{/sha}","statuses_url":"https://api.github.com/repos/icorson3/building_internal_apis/statuses/{sha}","languages_url":"https://api.github.com/repos/icorson3/building_internal_apis/languages","stargazers_url":"https://api.github.com/repos/icorson3/building_internal_apis/stargazers","contributors_url":"https://api.github.com/repos/icorson3/building_internal_apis/contributors","subscribers_url":"https://api.github.com/repos/icorson3/building_internal_apis/subscribers","subscription_url":"https://api.github.com/repos/icorson3/building_internal_apis/subscription","commits_url":"https://api.github.com/repos/icorson3/building_internal_apis/commits{/sha}","git_commits_url":"https://api.github.com/repos/icorson3/building_internal_apis/git/commits{/sha}","comments_url":"https://api.github.com/repos/icorson3/building_internal_apis/comments{/number}","issue_comment_url":"https://api.github.com/repos/icorson3/building_internal_apis/issues/comments{/number}","contents_url":"https://api.github.com/repos/icorson3/building_internal_apis/contents/{+path}","compare_url":"https://api.github.com/repos/icorson3/building_internal_apis/compare/{base}...{head}","merges_url":"https://api.github.com/repos/icorson3/building_internal_apis/merges","archive_url":"https://api.github.com/repos/icorson3/building_internal_apis/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/icorson3/building_internal_apis/downloads","issues_url":"https://api.github.com/repos/icorson3/building_internal_apis/issues{/number}","pulls_url":"https://api.github.com/repos/icorson3/building_internal_apis/pulls{/number}","milestones_url":"https://api.github.com/repos/icorson3/building_internal_apis/milestones{/number}","notifications_url":"https://api.github.com/repos/icorson3/building_internal_apis/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/icorson3/building_internal_apis/labels{/name}","releases_url":"https://api.github.com/repos/icorson3/building_internal_apis/releases{/id}","deployments_url":"https://api.github.com/repos/icorson3/building_internal_apis/deployments","created_at":"2018-05-01T15:14:17Z","updated_at":"2018-05-01T15:27:28Z","pushed_at":"2018-05-01T15:34:26Z","git_url":"git://github.com/icorson3/building_internal_apis.git","ssh_url":"git@github.com:icorson3/building_internal_apis.git","clone_url":"https://github.com/icorson3/building_internal_apis.git","svn_url":"https://github.com/icorson3/building_internal_apis","homepage":null,"size":23,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":124105394,"name":"sass_workshop","full_name":"icorson3/sass_workshop","owner":{"login":"icorson3","id":14942680,"avatar_url":"https://avatars1.githubusercontent.com/u/14942680?v=4","gravatar_id":"","url":"https://api.github.com/users/icorson3","html_url":"https://github.com/icorson3","followers_url":"https://api.github.com/users/icorson3/followers","following_url":"https://api.github.com/users/icorson3/following{/other_user}","gists_url":"https://api.github.com/users/icorson3/gists{[...]
