---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/agpiermarini/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4895'
      X-Ratelimit-Reset:
      - '1526018487'
      Etag:
      - W/"f16903241d7c357edba62d963d5bfcbe"
      Last-Modified:
      - Fri, 11 May 2018 04:17:39 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bff9e878c77272925590
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/19535775/events?page=2>; rel="next", <https://api.github.com/user/19535775/events?page=9>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"7659097465","type":"PushEvent","actor":{"id":19535775,"login":"agpiermarini","display_login":"agpiermarini","gravatar_id":"","url":"https://api.github.com/users/agpiermarini","avatar_url":"https://avatars.githubusercontent.com/u/19535775?"},"repo":{"id":132697165,"name":"agpiermarini/apicurious-github","url":"https://api.github.com/repos/agpiermarini/apicurious-github"},"payload":{"push_id":2555599978,"size":7,"distinct_size":1,"ref":"refs/heads/master","head":"c99a29d9d011eb8039943d7f80877392297aa278","before":"5d824bb28c854682b6b6b028b04557e13c4a8ca1","commits":[{"sha":"ecca1876586187db0cc0d4033b2b6c1107438fa7","author":{"email":"piermarini.andrew@gmail.com","name":"agpiermarini"},"message":"Add
        github starred api endpoint","distinct":false,"url":"https://api.github.com/repos/agpiermarini/apicurious-github/commits/ecca1876586187db0cc0d4033b2b6c1107438fa7"},{"sha":"6e95aabafeac1900ecb3b1e8a77c38ee2ad9df12","author":{"email":"piermarini.andrew@gmail.com","name":"agpiermarini"},"message":"Add
        starred search class","distinct":false,"url":"https://api.github.com/repos/agpiermarini/apicurious-github/commits/6e95aabafeac1900ecb3b1e8a77c38ee2ad9df12"},{"sha":"77a65f8cfa3517364c6e68e79f88f4d83cc90e05","author":{"email":"pierma[...]
[...]
