<section class="user-info">
  <ul class="user">
    <li class="avatar"> <%= image_tag(@profile.avatar_url, class: "avatar") %> </li>
    <li class="name">  <%= @profile.name %> </li>
    <li class="login"> <%= @profile.username %> </li>
    <li class="bio"> <%= @profile.bio %> </li>
  </ul>
</section>
